.container {
  padding: 0px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-top: 70px;
}

.container h1 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.mail-container {
  width: 60%;
  height: 100%;
  background-color: #00000009;
}

.contact-us-container {
  width: 40%;
  height: 100%;
  background-color: #45a049;
  color: white;
}

/* Header styles */
header h1 {
  margin: 0;
}

/* Form styles */
.contact-form {
  display: grid;
  gap: 15px;
  width: 80%;
  margin: 0 auto
}

label {
  font-weight: bold;
}

input,
textarea {
  /* width: 100%; */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-info {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  gap: 20px
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .contact-container {
    display: block;
  }

  .mail-container {
    width: 100%;
  }

  .contact-us-container {
    width: 100%;
  }
  
}
@media (max-width: 768px) {
  .container {
    padding: 0px 50px;
  }
}